td, th {
	border: 1px solid;
  text-align: center;
 
}
  
body {
  color: white;
  background-image: url("D:/New folder/IIT 2025 SPRING/ITM 361/GitHub/LAB-7/images/Space.jpg");
  
}

h1{
  text-align:center;
}
  

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
table {
    margin-left: auto;
    margin-right: auto;
}

