td, th {
	border: 1px solid white;
  border-collapse: collapse
 
}
body {
  color: white;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  
}

h1{
  text-align:center;
}
  

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
table {
    margin: auto;
    text-align: center; 
    border-collapse: collapse;
}

