td, th {
	border: 1px solid white;
  border-collapse: collapse
 
}
body {
  color: white;
  background-image: url("/LAB-7/images/space.jpg");
  
}

h1{
  text-align:center;
}
  

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
table {
    margin: auto;
    text-align: center; 
    border-collapse: collapse;
}

